:root {
  --text-color: #fff0be;
  --link-color: #fff0be;
  --background-color: #272727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Code', monospace;   
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  font-style: normal;
  font-weight: .1;

  display: flex;
}

.center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.name-block {
  display: flex;
  align-items: center;
  gap: .4rem; 
}

body.about-page {
  display: block; 
  padding: 1rem;
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

.about-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .2rem;
}

.about-text {
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: 550;
  padding: 1.8rem;
  padding-bottom: 0.2rem;
  padding-top: 0.6rem;

}

.note {
  font-size: clamp(.2rem, 1vw, .5rem);
  position: fixed;
  font-weight: 100;
  padding: 1.8rem;
  padding-left: 95rem;
  padding-top: 51rem;
  text-align: right;
}

.about-para {
  font-size: clamp(.6rem, 2vw, 1rem);
  font-weight: 400;
  padding-top: 0.3rem;
  padding-left: 1.9rem;
}

.about-ps {
  font-size: clamp(.4rem, 1.8vw, .8rem);
  font-weight: 300;
  padding-top: 0.3rem;
  padding-left: .2rem;
}

.border {
  display: block; 
  padding: 1rem;
  white-space: nowrap;
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: clamp(.995em, .8vw, 1rem);
  
}

.border-side {
  position: absolute;
  top: 423px;
  left: -374px;
  white-space: nowrap;
  transform: rotate(-90deg);
  padding: 0rem;
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: clamp(.995em, .8vw, 1rem);
}

.border-right {
  position: absolute;
  top: 420px;
  left: 1100px;
  white-space: nowrap;
  transform: rotate(90deg) translateY(-100%);
  padding: 0rem;
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: clamp(.995em, .8vw, 1rem);
}

.border-bottom {
  position: absolute;
  top: 820px;
  left: 10;
  white-space: nowrap;
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: clamp(.995em, .8vw, 1rem);
  
}

.border-text {
  font-size: clamp(.995em, .8vw, 1rem);
  font-weight: 500;
  align-items: flex-start;
}

.back {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Fira Code', monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: clamp(.995em, .8vw, 1rem);
}

.back-text {
  position: absolute;
  top: 70px;
  left: 1400px;
  font-size: clamp(.995em, .8vw, 1rem);
  font-weight: 500;
  align-items: flex-start;
}

.main-name {
  font-size: clamp(1.2rem, 4vw, 2rem); 
  font-weight: 550;
}

.info-block {
  position: relative; 
  z-index: 10;      
}

.border,
.border-side,
.border-right,
.border-bottom,
.back,
.back-text {
  z-index: 1;        
}



a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  font-style: italic;
  background-color: #fff0be;
  color: black;
  border-radius: 6px;
  padding: 0 0.25rem;
}

@media (max-width: 600px) {
  .name-block {
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
  }

  .info-block {
    align-items: center;
  }
}

img {
  border-radius: 7px 7px 7px 7px;
  width: 8%;
  height: 8%;
  padding-top: 2%;
  padding-left: 0%;

}


a .scramble span {
  pointer-events: auto; 
}


